---
title: Dokumentation der Stud.IP-JSON:API

language_tabs: # must be one of https://git.io/vQNgJ
- shell
- javascript

toc_footers:
- <a href='#'>todo</a>
- <a href='#'>todo</a>

includes:
- users
- activitystreams
- news
- blubber
- documents
- files
- forum
- calendar
- institutes
- contacts
- messages
- resources
- semesters
- courses
- wiki
- pagination
- errors
- discovery
- studip

search: true
---

# Einleitung

Willkommen bei der Dokumentation der Stud.IP-JSON:API! Mit dieser API
kann auf viele Daten einer Stud.IP-Installation zugegriffen werden.
Die API basiert auf der <a href="http://jsonapi.org/">JSON:API-Spezifikation</a>, ...

<%#
TODO: We have language bindings in Shell, Ruby, and Python! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.

TODO: This example API documentation page was created with [Slate](https://github.com/lord/slate). Feel free to edit it and use it as a base for your own API's documentation.
%>

# Authentifizierung

<%#
> To authorize, use this code:

```javascript
import TODO from 'todo'
```

> Make sure to replace `meowmeowmeow` with your API key.
%>

Stud.IP JSON:API verwendet zwei verschiedene Verfahren um Nutzer
zu authentifizieren:

* HTTP Basic access authentication
* Stud.IP-Session-Cookies
* OAuth1

Für HTTP Basic access authentication benötigt man die Zugangsdaten, die auch
für ein "normales" Login verwendet werden.
https://hilfe.studip.de/develop/Entwickler/RESTAPI


<%#
<aside class="notice">
    Statt <code>meowmeowmeow</code> sollte das tatsächliche Passwort
    verwendet werden.
</aside>
%>
